/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --montserrat-font: "Montserrat", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --secondary-text-clr: #dddddd;
  --primary-clr: #036e8a;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
  width: 100%;
}
.container {
  max-width: 1146px;
  margin: 0 auto;
}
body {
  font-family: var(--montserrat-font);
}
/* ============= common css end here ================ */
/* ========= navbar css start here ============= */
nav {
  width: 100%;
  background-color: var(--white-clr);
  padding: 15px 0;
  position: absolute;
  top: 36px;
  left: 0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand_logo {
  width: 127px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.brand_logo img {
  width: 100%;
}
.menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
.nav_link {
  color: var(--primary-clr);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.nav_icon_wrapper {
  display: flex;
  align-items: center;
  column-gap: 7px;
}
.nav_icon {
  width: 23px;
  height: 23px;
  font-size: 8px;
  text-align: center;
  line-height: 23px;
  border: 1px solid rgba(3, 111, 138, 0.6);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--primary-clr);
}
/* ========= navbar css end here ============= */

/* ============= banner section css start here ============= */
#banner {
  padding: 257px 0 200px;
  background: url(../images/banner_bg.jpg) no-repeat center;
  background-size: cover;
}
.banner_content_wrapper {
  margin-left: 230px;
}
.banner_heading {
  width: 720px;
  color: var(--white-clr);
  font-size: 89px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 24px;
}
.banner_details {
  width: 780px;
  color: var(--white-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 45px;
}
.banner_search_box {
  width: 429px;
  height: 61px;
  border: 1px solid var(--primary-clr);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 17px 20px 18px 90px;
  color: var(--primary-clr);
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.banner_search_box::placeholder {
  color: var(--primary-clr);
}
.banner_search_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.banner_search_wrapper span {
  position: absolute;
  color: var(--primary-clr);
  font-size: 20px;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.banner_location {
  margin-left: 15px;
}
.banner_location {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--white-clr);
  font-size: 24px;
  color: var(--white-clr);
  text-align: center;
  line-height: 58px;
  background-color: #ff8000;
}
/* ============= banner section css end here ============= */

/* =============   section css start here ============= */
#service {
  position: relative;
}
.service_shape {
  width: 1697px;
  height: 952px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  /* transform: rotate(-74.991deg);
  -webkit-transform: rotate(-74.991deg);
  -moz-transform: rotate(-74.991deg);
  -ms-transform: rotate(-74.991deg);
  -o-transform: rotate(-74.991deg); */
}
/* ===== service_feature_part ========= */
.service_feature_wrapper {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 147px;
  margin-bottom: 71px;
}
.service_feature_sub_heading {
  color: #000;
  font-size: 30px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.service_feature_heading {
  width: 561px;
  color: var(--primary-clr);
  font-size: 55px;
  font-weight: var(--bold-weight);
  line-height: normal;
  padding: 30px 0;
}
.service_feature_details {
  width: 529px;
  color: #000;
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.service_feature_video_wrapper {
  width: 508px;
  height: 369px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  position: relative;
}
.service_feature_play_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--white-clr);
  color: var(--primary-clr);
  font-size: 18px;
  text-align: center;
  line-height: 72px;
}
/* ===== service_feature_part ========= */
/* ======== travel location part ============ */
.service_location_wrapper {
  padding: 53px 64px 50px;
  width: 100%;
  border: 2px solid var(--primary-clr);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service_location_heading {
  color: var(--primary-clr);
  font-size: 30px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 14px;
}
.service_location_feedback_wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.service_location_feedback_wrapper i {
  color: #ff8000;
  font-size: 22px;
}
.service_location_feedback_wrapper i:nth-child(5) {
  opacity: 0.5;
}
.service_location_price {
  color: #000;
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
.service_location_price_amount {
  color: var(--primary-clr);
  font-size: 60px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.service_location_price_wrapper:nth-child(2) {
  position: relative;
}
.service_location_price_wrapper:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 96px;
  background-color: #ff8000;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.service_location_btn {
  padding: 18px 43px;
  color: var(--white-clr);
  background-color: #ff8000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 25px;
  font-weight: var(--bold-weight);
  line-height: normal;
  border: 1px solid #ff8000;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.service_location_btn:hover {
  background-color: var(--transparent-clr);
  color: #ff8000;
}
/* ======== travel location part ============ */
/* ====== special package part ============ */
.special_package_wrapper {
  padding: 90px 0 114px;
}
.special_package_heading {
  text-align: center;
  color: var(--primary-clr);
  font-size: 60px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 23px;
}
.special_package_summary {
  width: 830px;
  margin: 0 auto;
  color: #000;
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 51px;
  text-align: center;
}
.special_package_item_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.special_package_item_inner_wrapper {
  padding: 37px;
  width: 357px;
  border: 1px solid var(--primary-clr);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.special_package_item_name {
  color: var(--primary-clr);
  font-size: 40px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.special_package_item_price {
  color: var(--primary-clr);
  font-size: 60px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 6px;
}
.special_package_item_duration {
  color: var(--primary-clr);
  font-size: 25px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 40px;
}
.special_item_details_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.special_item_details_wrapper li {
  color: #000;
  font-size: 18px;
  font-weight: var(--regular-weight);
  line-height: normal;
  position: relative;
  padding-left: 31px;
}
.special_item_details_wrapper li i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 18px;
  color: var(--primary-clr);
}
.special_item_details_wrapper li:nth-child(5) i {
  opacity: 0.5;
}
.special_item_details_wrapper li:nth-child(6) i {
  opacity: 0.5;
}
.special_package_item_btn {
  padding: 13px 27px;
  background-color: var(--primary-clr);
  color: var(--white-clr);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 20px;
  font-weight: var(--medium-weight);
  line-height: normal;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -60px;
}
.special_package_trial {
  text-align: center;
  margin-top: 42px;
  color: #000;
  font-size: 20px;
  font-weight: var(--regular-weight);
  line-height: normal;
}

/* ====== special package part ============ */
/* =============   section css end here ============= */
/* ============= section css start here ============= */
/* ============= section css end here ============= */

/* ============= section css start here ============= */
/* ============= section css end here ============= */
/* ============= section css start here ============= */
/* ============= section css end here ============= */

/* ============= section css start here ============= */
/* ============= section css end here ============= */
/* ============= section css start here ============= */
/* ============= section css end here ============= */

/* ============= section css start here ============= */
/* ============= section css end here ============= */
