/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --montserrat-font: "Montserrat", sans-serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --secondary-text-clr: #dddddd;
  --primary-clr: #036e8a;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1146px;
  margin: 0 auto;
}
body {
  font-family: var(--montserrat-font);
}
/* ============= common css end here ================ */
nav {
  width: 100%;
  background-color: var(--white-clr);
  padding: 15px 0;
}
.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand_logo {
  width: 127px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.brand_logo img{
    width: 100%;
}
.menu_wrapper {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
.nav_link {
  color: var(--primary-clr);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.nav_icon_wrapper{
    display: flex;
    align-items: center;
    column-gap: 7px;
}
.nav_icon{
    width: 23px;
    height: 23px;
    font-size: 8px;
    text-align: center;
    line-height: 23px;
    border: 1px solid rgba(3, 111, 138, 0.6);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--primary-clr);
}
